name: "Super Linter"
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: "Lint Code Base"
    "runs-on": ubuntu-latest
    permissions:
      contents: read
      "pull-requests": read
      checks: write
      statuses: write
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v4
        with:
          "fetch-depth": 0
      - name: "Lint Code Base"
        uses: github/super-linter@v5
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JAVASCRIPT_STANDARD: true
          VALIDATE_JSON: true
          VALIDATE_MD: true
          VALIDATE_YAML: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
